* {
    margin: 0;
    padding: 0;
}

.footer {
    background-color: black;
    color: white;
}

.header {
    border: solid;
}

.main {
    display: flex;
    justify-content: space-between;
    margin: 100px;
}

.description {
    max-width: 50%;
    margin-right: 80px;
}

.linkToSignIn {
    align-items: center;
    margin: auto 0 auto auto;
}

/* Header.js */

.navbar .container-fluid, 
.navbar-expand-lg .navbar-collapse, 
.navbar-expand-lg .navbar-nav {
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
}

.container-fluid {
    height: 100vh;
    justify-content: start;
}

.navbar {
    /* width: 50%; */
    padding-top: 10px;
    height: 100vh;
}