* {
    margin: 0;
    padding: 0;
}

.footer {
    background-color: black;
    color: white;
}

.header {
    border: solid;
}

.main {
    display: flex;
    justify-content: space-between;
    margin: 100px;
}

.cursor-pointer {
    cursor: pointer;
}

.description {
    max-width: 50%;
    margin-right: 80px;
}

.linkToSignIn {
    align-items: center;
    margin: auto 0 auto auto;
}

