* {
    margin: 0;
    padding: 0;
}

input[type="text"], input[type="password"], input[type="email"] {
    width: 200px;
    height: 25px;
    border-radius: 5px;
    border: 1px solid black;
    padding: 3px;
    font-size: 14px;
}

input::placeholder {
    font-size: 14px;
}

.footer {
    background-color: black;
    color: white;
}

.header {
    border: solid;
}

/* start Header.js */

.dropdownMenu {
    position: absolute;
    border: 1px solid black;
    border-radius: 5px;
    margin: 5px;
    padding: 1px 10px;
    background-color: white;
    right: 10px;
    z-index: 999;
}

.dropdownItem {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 1px;
    padding: 1px;
    text-align: left;
    background-color: transparent;
    border: none;
    white-space: nowrap;
    cursor: pointer;
}

.dropdownItem:hover {
    background-color: rgb(224, 224, 224);
}

/* end Header.js */

.main {
    display: flex;
    justify-content: space-between;
    margin: 100px;
}

.cursor-pointer {
    cursor: pointer;
}

.description {
    max-width: 50%;
    margin-right: 80px;
}

.linkToSignIn {
    align-items: center;
    margin: auto 0 auto auto;
}

/* app/workplace/page.js */

.editBoardNameInput {
    /* width: 65px; */
    height: 25px;
    font-size: 16px;
}

/* end app/workplace/page.js */


