.deleteBoard {
    display: flex;
    flex-direction: column;
}

.header {
    margin-bottom: 10px;
}

.inputBlock {
    margin-bottom: 10px;
}

.buttonBlock {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.button {
    background-color: transparent;
    border-radius: 10px;
    border: 1px solid #000000;
    width: 80px;
    margin-right: 10px;
    cursor: pointer;
}

.buttonDelete {
    background-color: red;
}