.sidebar {
    padding: 0 15px 0 15px;
    margin: 0;
    background-color: #ffffff;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.control {
    display: flex;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    margin-bottom: 10px;
    align-items: center;
}

.deleteTask {
    cursor: pointer;
}

.stateNameControl {
    /* padding: 10px; */
    margin-bottom: 10px;
}

.setDoneButton {
    padding: 5px;
}

.deleteStartDateButton {
    width: 5px;
    height: 5px;
}

.input {
    width: 110px;
    margin: 5px 0 10px 0;
}

.description {
    resize: none;
    margin-top: 5px;
}

.subtaskInput {
    height: 25px;
    border-radius: 5px;
    border: 1px solid black;
    padding: 3px;
}
