.statusBlock {
    position: relative;
    width: 260px;
    margin: 8px;
    padding: 8px;
    padding-bottom: 5px; 
    border-radius: 15px;
} 

.bgColorTODO {
    background-color: rgba(139, 148, 166, 0.4);
}

.bgColorDOING {
    background-color: rgba(127, 137, 204, 0.4);
}

.bgColorDONE {
    background-color: rgba(106, 166, 106, 0.4);
}

.stateBlock, .newState {
    margin: 10px;
}

.stateHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.stateNameControl {
    width: 80%;
}


.tasks {
    align-items: center;
    border: 1px;
    border-radius: 5px;
    margin: 0 auto;
}

.createTask {
    background-color: #fff;
    border-radius: 15px;
    margin-bottom: 5px;
    /* height: 25px; */
}

.task { 
    display: flex;
    background-color: #ffffff;
    align-items: center;
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 15px;
} 
