.stateBlock {
    min-width: 300px;
}

.newStateButton {
    display: flex;
    margin: 0;
    min-height: 25px;
    cursor: pointer;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
}

.createTask {
    justify-content: center;
    font-weight: normal;
    font-size: 16px;
}

.inputControl {
    display: flex;
    flex-direction: column;
}

.buttonControl {
    width: 100%;
}